@use '../helpers' as *;

.loader {
  @include abs-cover;
  @include flex-center;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-duration-slow),
    visibility var(--transition-duration-slow);
  z-index: 50;

  &.is-loading {
    opacity: 1;
    visibility: visible;
  }

  &__spinner {
    @include square(60px);

    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: var(--primary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
