@use '../helpers' as *;

.lucky__inner {
  @include flex-center();
  flex-direction: column;
  gap: 15px;

  background: var(--bg-light);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;
}

.lucky__description {
  color: var(--text-muted);
  line-height: 1.5;
  text-align: center;
}