@use '../helpers' as *;

.request {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-block: 20px;

  @include mobile {
    flex-direction: column;
  }

  .form__inner,
  .lucky__inner {
    flex: 1;
    min-width: 0;
  }
}