@use '../helpers' as *;

.response {
  @include flex-center();

  gap: 20px;
  margin-block: 20px;

  background: var(--bg-light);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;

  &__images {
    @include flex-center();
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    @include flex-center();

    max-width: 400px;
    height: 400px;
    width: 100%;
    background: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 15px;

    &[empty] {
      display: none;
    }
  }
}

.cat-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}