@use '../helpers' as *;

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  font-weight: 800;
  font-size: 24px;
  transform: translateY(20px);
  transition: opacity var(--transition-duration-slow),
    visibility var(--transition-duration-slow),
    transform var(--transition-duration-slow);
  background-color: var(--warning);

  @include square(50px);



  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    @include hover() {
      transform: scale(0.98);
      background-color: var(--warning);
      opacity: 0.6;
    }

    &:active {
      transform: scale(1.05);
    }
  }

  @include mobile-s {
    bottom: 16px;
    right: 16px;
  }

  @include tablet-above {
    right: calc((100vw - #{$container-laptop-width}px) / 2 - 80px);
  }

  @include laptop-above {
    right: calc((100vw - #{$container-desktop-width}px) / 2 - 80px);
  }
}